<section class="layout">
  <div class="row">
    <div class="col col-sm-12">
      <div class="input-group mb-3">
        <input class="new-todo" placeholder="Введите текст" autofocus="" [(ngModel)]="newTodo.title"
               class="form-control">
        <div class="input-group-append">
          <button (click)="addTodo()" class="btn btn-primary btn-sm">Добавить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-6">
      <label>Октрытые</label>
      <ul cdkDropList (cdkDropListDropped)="drop($event)">
        <li *ngFor="let todo of activeTodos()" (click)="onStartEdit(todo.id)" cdkDrag>
          <label [hidden]="(editTodoId === todo.id) ? 'hidden' : ''">{{ todo.title }}</label>
          <input (keyup.enter)="onEndEdit(todo, $event.target.value)" [(ngModel)]="todo.title"
                 [hidden]="(editTodoId !== todo.id) ? 'hidden' : ''" class="form-control">
          <button (click)="toggleTodoComplete(todo)" [hidden]="(editTodoId !== todo.id) ? 'hidden' : ''"
                  class="btn btn-primary btn-sm">Завершить
          </button>
          <button class="close" (click)="closeTodo(todo)" [hidden]="(editTodoId !== todo.id) ? '' : 'hidden'"><i
            class="fas fa-times"></i></button>
        </li>
      </ul>
    </div>
    <div class="col col-sm-6">
      <label>Завершенные</label>
      <ul>
        <li *ngFor="let todo of completeTodos()">{{ todo.title }}</li>
      </ul>
    </div>
  </div>
</section>
